<!DOCTYPE html>
<head>
    <title>Node: Workshop 1</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <header>
        <h1>Node: Workshop 1</h1>
    </header>
    <div class='main'>
        <h2>Part 1</h2>
        <div class='content'>
            <%- include('../partials/questions/3') %>
            <div class='box answer'>
                <h3>Answer</h3>
                <img src='<%-wtf.imageUrl%>' alt="<%='Homer'%>"/>
                <p><%= ("Name: " + wtf.name) %></p>
                <p><%= "Born: " + wtf.dob %></p>
                <p><%= `Profession: ${wtf.profession}` %></p>
                <p><%= "Favourite Food: " + wtf.favoriteFood %></p>
                <p><%= `Fave Beverage: ${wtf.favoriteBeverage}` %></p>
                <a href='question2'>PREVIOUS</a>
                <a href='question4'>NEXT</a>
            </div>
        </div>
    </div>
</body>